[project]
	description = Use functions as generic middleware.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Steffen Bruchmann (sbruchmann)
[access "refs/for/refs/*"]
	read = group user/Steffen Bruchmann (sbruchmann)
	push = group user/Steffen Bruchmann (sbruchmann)
	label-Code-Review = -2..+2 group user/Steffen Bruchmann (sbruchmann)
	label-Verified = -1..+1 group user/Steffen Bruchmann (sbruchmann)
	rebase = group user/Steffen Bruchmann (sbruchmann)
	removeReviewer = group user/Steffen Bruchmann (sbruchmann)
	submit = group user/Steffen Bruchmann (sbruchmann)
[access "refs/heads/*"]
	read = group user/Steffen Bruchmann (sbruchmann)
	create = group user/Steffen Bruchmann (sbruchmann)
	push = +force group user/Steffen Bruchmann (sbruchmann)
	pushMerge = group user/Steffen Bruchmann (sbruchmann)
[access "refs/tags/*"]
	push = +force group user/Steffen Bruchmann (sbruchmann)
	pushTag = group user/Steffen Bruchmann (sbruchmann)
	pushSignedTag = group user/Steffen Bruchmann (sbruchmann)
